<% provide(:title, 'About') %>
<div>  
<h1>About Us</h1>
<p><strong>What’s the gist?</strong></p>
GreenCoin presents a mechanism by which the open market can collectively price carbon emissions. (note: carbon, carbon dioxide, and CO2 are used interchangeably in this FAQ)<br/><br/>

<p><strong>What is GreenCoin?</strong></p>
GreenCoin is a digital asset that captures the value of useful production and commerce that resulted in a reduced carbon dioxide emission impact.<br/><br/>

<p><strong>How are GreenCoins produced?</strong></p>
There are two ways to produce GreenCoins:<br/>
  • GreenCoins are awarded to miners (more on mining here)<br/>
  • GreenCoins are awarded to commerce producers who have registered with the GreenCoin network.<br/><br/>

<p><strong>Why carbon (as opposed to any other type of pollution mitigation)?</strong></p>
Carbon is the ultimate global issue and it requires a global solution. Carbon isn’t toxic, so there is no immediate incentive to be the one guy who doesn’t drive an SUV to work. Only in its global aggregation does it present catastrophic environmental harm. In the past, governments have attempted to work together to solve the issue to varying degrees of success and failure, and a permanent global solution is currently not really on the table. One criticism is the drag on the economy that punitive Cap & Trade regulations may have. However, the other side if this equation is the drag on the economy the environmental damage costs from global warming’s adverse effects.  Governments try to gauge the two side of this equation for setting Cap & Trade regulations. However, governments are less efficient than market based pricing methods. Therefore, a voluntary, market-based way to price and trade carbon is required in order to solve this menacing issue.<br/>

<p><strong>How much carbon do humans emit per year?</strong></p>
Over 30 gigatonnes (30 trillion kilograms / 66 trillion pounds). This adds about 2.2 PPM of CO2 to the atmospheric CO2 concentration per year.  

<p><strong>What is the current CO2 concentration in the atmosphere?</strong></p>
401.33 ppm (April 2014). This number is tracked on the front page of the greencoinfoundation.org website. This is the highest it has been in over a million years.

<p><strong>What’s the holistic point?</strong></p>
The point is to reduce carbon emissions, and possibly to begin removing carbon from the atmosphere, as deemed necessary for human survival. The first big hurdle is to get much more renewable energy onto the grid. The second is to make a dent in transportation emissions.

<p><strong>How do I get GreenCoins?</strong></p>
Become a renewable energy producer! If you already are one, you can be awarded GreenCoins daily, beginning immediately, by going to greencoinfoundation.org/countmein to sign up.

<p><strong>Can I obtain GreenCoins if I am not a producer?</strong></p>
Yes! Anyone can own and trade GreenCoins. Simply go to greencoinfoundation.org/countmein to sign up. Once you have an account you can buy (and subsequently sell) GreenCoins at the market price.

<p><strong>How many GreenCoin’s will ever exist?</strong></p>
A total of 10,000,000,000 (ten billion) GreenCoins will be awarded. The GreenCoin Foundation awards about 2,700,000 GreenCoins per day. At this rate, the last coin will be minted on 4/27/2068. The total number will never change, however, the GreenCoin foundation may opt to award GreenCoin for other renewable processes (e.g., renewable manufacturing, or renewable farming, carbon sequestration storage, to name a few possibilities). This may accelerate the GreenCoin award schedule, though the total of one billion coins will never be breached.

<p><strong>How many GreenCoin’s currently exist?</strong></p>
The current outstanding number of minted GreenCoins is available on the front page of the greencoinfoundation.org website.

<p><strong>Why 2,700,000 coins per day?</strong></p>
At this rate, it will take approximately 54 years to award all of the coins. We have concluded this figure represents a good timeframe for solving the global carbon issue. If it takes more time than that, we’re screwed.

<p><strong>How much of the global electrical grid is currently renewable?</strong></p>
About 18%

<p><strong>How much of the grid do you think could be renewable?</strong></p>
Exactly 100%

<p><strong>How does the GreenCoin calculation work?</strong></p>
GreenCoin is ultimately a measure of sequestered carbon AND carbon that is not produced during the production of renewable energy compared to the same amount of energy produced by the aggregate global average for the exact same activity. Therefore, it is closely tied with the amount of CO2 offset that can be calculated as a consequence of utilizing renewable energy versus non-renewable energy, as an example that is related to energy production. The current global average amount of CO2 emitted to produce 1kWh is about 527 g CO2. If a solar producer pushes 10 kWh to the grid, they’ve created power to the benefit of the grid users without the creation of 5.27 kg of CO2 entering the atmosphere (0.527 kg/kWh X 10 kWh = 5.27 kg).  This figure has been termed Carbon-Productivity Sequestration and the units are in kg CO2.  Carbon-Productivity Sequestration differs from carbon sequestration in that we reward the productive event (such as renewable power production) as opposed to penalizing the emissions. This provides for a mechanism to reward economic productivity for green commerce providers as opposed to financially limiting high-emitting ones.

The GreenCoin Foundation receives exactly one-half (50%) of all of the coins being mined via the traditional cryptocurrency mining method.  We have termed this as the compulsory sharing element.  The foundation aggregates the data of the producers who have effectuated carbon-productivity sequestration for that day.  We then distribute the coins received (currently about 1,350,000 per day) pro rata to all of the producers within the network.

<p><strong>Shouldn’t ALL of the current renewable energy production be captured with GreenCoin awards in order for this algorithm to be accurate?</strong></p>
Not necessarily. In any event, if you are a renewable producer, all you have to do is sign-up and you can begin receiving coins that day!

<p><strong>So, as more renewable energy comes online, the number amount of carbon sequestered for every renewably-generated kWh will decrease…</strong></p>
Exactly.  Each renewable producing unit that comes online shrinks the amount of CO2 calculated as being sequestered for all producers at the margin, making a GreenCoins more competitive to produce. This figure is updated and set by the GreenCoin Foundation based on a variety of widely published government and scientific reports.  To further the electric power production as an example, the current global emissions to produce 1 kWh averages to 527 grams of CO2, however, as more green power comes on line (and hopefully due to GreenCoins existence!), this global average will begin to decrease substantially. If, at some point in the future, the global average were only 250 grams CO2 per kWh and you had a system generating power at 200 grams CO2 per kWh, you are receiving only 50 grams CO2 per kWh generated which you then gets rewarded GreenCoins (this would be less than before when you were generating green power versus the 527 grams CO2 per kWh global average). This incentivizes producers to reduce their CO2 impact as much as possible to receive the most GreenCoins and continue to find ways to do so as the global problem begins to resolve.

<p><strong>How much carbon is currently represented by one GreenCoin?</strong></p>
The current carbon sequestration represented by one GreenCoin is listed on the front page of the greencoinfoundation.org website.

<p><strong>How much is GreenCoin currently worth?</strong></p>
The current price (last, bid, ask) is listed on the front page of the greencoinfoundation.org website.

<p><strong>What is GreenCoin, Inc.?</strong></p>
GreenCoin, Inc. is a privately held company that processes GreenCoin purchases and sales. The Company’s business model is to charge small fees for these exchanges.

<p><strong>Is GreenCoin divisible?</strong></p>
The GreenCoin mechanism allows it to be divisible to 8 decimal units. However, the exchange to cash out GreenCoins may have a dollar minimum to limit traffic by eliminating transaction “dust.” Given that GreenCoin is a digital asset, technically speaking it is nearly infinitely divisible. The GreenCoin Foundation will determine the number sub decimal units to divide GreenCoin into based on the market price, as necessary to operate an exchange that is available to all market participants, from time-to-time and on a long-period basis.

<p><strong>How can I trust this mechanism?</strong></p>
The GreenCoin Foundation is intentionally set up as a not-for-profit entity. It will ultimately be governed by a Board and Operators that include top-executive renewable industry leaders, government entities, and not-for-profit organizations that operate in the traditional energy, cleantech, transportation, agriculture, forestry and other relevant spaces. The Foundation has the responsibility of maintaining the integrity of the system, assigning the GreenCoin algorithm (distributing GreenCoins pro rata to carbon reduction) auditing the renewable producers, providing public trust about the capped nature of the digital asset, and in general maintaining the honest and transparent operation of the system’s mechanics.

<p><strong>Hey, what about nuclear; it’s CO2-free!</strong></p>
Maybe. Nuclear energy has toxicity and public relations issue. However, nuclear energy has tremendous benefits when it comes to emissions and cleaner, new-nuclear technology should actively be encouraged, especially via large government financing efforts and international cooperation. Nuclear fusion would be allowable and is ultimately the holy grail. It would essentially single-handedly solve this entire problem. In addition, a mechanism by which a well-funded GreenCoin Foundation could financially assist in these efforts could also be considered. 

<p><strong>I don’t believe in you / this idea seems like a gimmick / global warming is a hoax / I believe in Tom Coburn:</strong></p>
Great! I respect your opinion on the subject. You may enjoy the fact that participation in anything related to GreenCoin or the renewable energy production go-to-market strategy is purely voluntary. It is a free market system without the need for government mandates or forced carbon tariffs. And go easy on the cold cuts.

</div>