<footer class="footer">
  <small>
    <a href="http://www.grcoin.com">GreenCoin</a>
    by Chris A.
  </small>
  <nav>
    <ul>
      <li><img src="http://actionwidgets.org/uni/e/co2-m/055-ppm.png"
          title="Atmospheric CO2" alt="CO2" width="55" border="0" />
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><a href="http://www.grcoin.com/blog">News</a></li>
    </ul>
  </nav>
</footer>